BasedOnStyle: Microsoft
SortIncludes: Never
FixNamespaceComments: false
ColumnLimit: 0
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: All
AllowShortLoopsOnASingleLine: true
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
