BasedOnStyle: Microsoft
PointerAlignment: Left
BinPackParameters: false
AlignAfterOpenBracket: Align
ColumnLimit: 0
BreakBeforeBinaryOperators: None
NamespaceIndentation: All
FixNamespaceComments: false
SortIncludes: false
AllowShortFunctionsOnASingleLine: Inline
