BasedOnStyle: Microsoft
PointerAlignment: Left
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: Never
# BraceWrapping:
ColumnLimit: 0
BreakBeforeBinaryOperators: None
NamespaceIndentation: All
FixNamespaceComments: false
SortIncludes: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
