name: Build
on:
  workflow_call:
    inputs:
      build_type:
        required: true
        type: string
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: fedora:42
    steps:
      - name: Install deps
        run: dnf install -y git cmake ninja-build gcc gcc-c++ libasan libubsan liblsan

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure CMake
        run: cmake --preset ${{ inputs.build_type }} -DBUILD_TESTS=On

      - name: Build
        run: |
          cd build-${{ inputs.build_type }}
          ninja

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-output-${{ inputs.build_type }}
          path: build-${{ inputs.build_type }}/
