name: Unit Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    container:
      image: fedora:42
    strategy:
      matrix:
        build_type: [debug, release]
    steps:
      - name: Install deps
        run: |
          dnf install -y git cmake ninja-build gcc gcc-c++ libasan libubsan liblsan
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Configure CMake
        run: |
          cmake --preset ${{ matrix.build_type }} -DBUILD_TESTS=On
      - name: Build
        run: |
          cd build-${{ matrix.build_type }}
          ninja
      - name: Run tests
        run: |
          cd build-${{ matrix.build_type }}
          ctest
