name: E2E Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    strategy:
      matrix:
        build_type: [debug, release]
    uses: ./.github/workflows/build.yml
    with:
      build_type: ${{ matrix.build_type }}

  e2e-test:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        build_type: [debug, release]
    steps:
      - name: Checkout Test Code
        uses: actions/checkout@v4

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: build-output-${{ matrix.build_type }}
          path: build-${{ matrix.build_type }}/

      - name: Make executable
        run: chmod +x ./build-${{ matrix.build_type }}/nasdaq-moldudp64-feed-sim

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Python dependencies
        run: pip install -r tests/e2e/requirements.txt

      - name: Run Pytest (${{ matrix.build_type }})
        run: |
          pytest -v -s ./tests/e2e/e2e.py \
            --path-to-server ./build-${{ matrix.build_type }}/nasdaq-moldudp64-feed-sim \
            --path-to-sample-file ./tests/e2e/data/12302019_SNIPPET.NASDAQ_ITCH50
