name: Unit Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    strategy:
      matrix:
        build_type: [debug, release]
    uses: ./.github/workflows/build.yml
    with:
      build_type: ${{ matrix.build_type }}

  test:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        build_type: [debug, release]
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: build-output-${{ matrix.build_type }}
          path: build-${{ matrix.build_type }}/

      - name: Run CTest
        run: |
          cd build-${{ matrix.build_type }}
          ctest
